{namespace soy.example.app}

{template header}
  {@param title: string}
<h1 class="{css('app-header')}">
    {$title}
</h1>
{/template}

{template section kind="html<section>"}
  {@param title: string}
  {@param body: html}
<section class="{css('app-section')}">
  <h2>{$title}</h2>
  {$body}
</section>
{/template}

{template body}
  {@param appName: string}
<div class="{css('app-body')}">
    {call header}
        {param title: $appName /}
    {/call}
    {call section}
        {param title: 'About' /}
        {param body kind="html"}
        This app demonstrates the composition of a <code>closure_js_binary</code>.
        {/param}
    {/call}
</div>
{/template}
